{% extends "base.html" %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<div class="grid-x">
  <div class="small-6 small-offset-3 formBorder">
    <div class="row small-12">
      <h3 class="columns small-12">Welcome to your Improved QAF  </h3>
    </div>
    <br>
    {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
        <br>
            {% for category, message in messages %}
                <div class="callout alert">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <br>
    <form class="form-group" method="post">
        <label for="username">Username:</label>
        <input class="textInput" id="username" name="username" type="text"><br>
        <label for="password">Password:</label>
        <input class="textInput" id="password" name="password" type="password"><br>
        <label for="password_repeat">Repeat Password:</label>
        <input class="textInput" id="password_repeat" name="password_repeat" type="password"><br>
        <input class="expanded button" type="submit" value="Sign Up!">
        <a href="/login">Already joined? Login Here!</a>
    </form>
  </div>
</div>
{% endblock content %}
