html {
}
body {
  font-family: 'Overpass', sans-serif;
  background-color: RGB(253, 211, 158);
  color: navy;
}

a {
  border: 0px;

  border-color: RGB(209, 143, 46);
  padding: 0px;
  font-family: 'Overpass', sans-serif;
}
li {
  border: 0px;
  padding: 0px;
}
.top-bar {
  background-color: RGB(224, 173, 104);
  position: fixed;
  width: 100%;
}
.button {
  background-color: RGB(209, 143, 46);
  border-radius: 5px;
}
.button:hover {
  background-color: RGB(205, 171, 109);
  border-radius: 5px;
}
.button-group {
  margin: auto;
}
.title-bar {
  text-align: center;
}
h1 {
  color: navy;
  margin: auto;
  font-family: 'Overpass', sans-serif;
  text-align: center;
}

h3 {
  color: navy;
  margin: auto;
  font-family: 'Overpass', sans-serif;
  text-align: center;
}
h4 {
  color: navy;
  margin: auto;
  font-family: 'Overpass', sans-serif;
  text-align: center;
}
h5 {
  margin: auto;
  text-align: center;
  font-family: 'Overpass', sans-serif;
}
img {
  margin-left: auto;
  margin-right: auto;
}
label {
  color: navy;
}
.formBorder {
  padding: 50px;
  border-radius: 50px;
  border-style: inset;
  border-color: RGB(209, 143, 46);
  background-color: RGB(224, 173, 104);
}

.textInput {
  border-radius: 15px;
  background-color: white;
  border-color: RGB(209, 143, 46);
  color: navy;
}
.textInput:active {
  background-color: RGB(253, 211, 158);
}
/* #thumbnail-container {
  padding: auto;
} */
