body {
  font-family: 'Overpass', sans-serif;
  background-color: RGB(15, 15, 15);
  color: fuchsia;
}
.menu {
  background: $foundation-5-top-bar-bg;

  a {
    color: $foundation-5-top-bar-text-color;
  }
}

a {
  border: 0px;

  border-color: fuchsia;
  padding: 0px;
  font-family: 'Overpass', sans-serif;
}
li {
  border: 0px;
  padding: 0px;
}
.top-bar {
  background-color: black;
  position: fixed;
  width: 100%;
}
.button {
  background-color: fuchsia;
  border-radius: 5px;
}
.button:hover {
  background-color: orchid;
  border-radius: 5px;
}
.button-group {
  margin: auto;
}
.title-bar {
  text-align: center;
}
h1 {
  color: fuchsia;
  margin: auto;
  font-family: 'Overpass', sans-serif;
  text-align: center;
}

h3 {
  color: fuchsia;
  margin: auto;
  font-family: 'Overpass', sans-serif;
  text-align: center;
}
h4 {
  color: fuchsia;
  margin: auto;
  font-family: 'Overpass', sans-serif;
  text-align: center;
}
h5 {
  margin: auto;
  text-align: center;
  font-family: 'Overpass', sans-serif;
}
img {
  margin-left: auto;
  margin-right: auto;
}
label {
  color: fuchsia;
}
.formBorder {
  padding: 50px;
  border-radius: 50px;
  border-style: inset;
  border-color: fuchsia;
}

.textInput {
  border-radius: 15px;
  background-color: black;
  border-color: fuchsia;
  color: white;
}
input[type=text]:focus, input[type=password]:focus {
  background-color: black;
  color:white;
}

input[type=text]:focus::placeholder{
  color:transparent;
}
.top-bar {
  z-index: 0;
}
.callout.alert {
  z-index: 1;
}
/* #thumbnail-container {
  padding: auto;
} */
