<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.4.3/dist/css/foundation.min.css">
    <!-- Compressed JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.4.3/dist/js/foundation.min.js"></script>
    <!-- Our own StyleSheet -->
    <link rel="stylesheet" href="../static/css/stylesheet.css">
    <!-- Custom Font -->
    <link href="https://fonts.googleapis.com/css?family=Overpass&display=swap" rel="stylesheet">
  </head>
  <body>
    <!-- {% block flashes %}
        {% with messages = get_flashed_messages(with_categories = true) %}
            {% if messages %}
            <br>
                {% for category, message in messages %}
                    <div role = "alert" style="margin-bottom:0">
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    {% endblock flashes %} -->

    {% block content %}
    {% endblock content %}
  </body>
</html>
