<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.4.3/dist/css/foundation.min.css">
    <!-- Compressed JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.4.3/dist/js/foundation.min.js"></script>
    <!-- Our own StyleSheet -->
    <link rel="stylesheet" href="../static/css/stylesheet.css">
    <!-- Custom Font -->
    <link href="{{ url_for('static', filename='css/stylesheet.css') }}" rel="stylesheet">
  </head>
  <body>
    <div class="top-bar grid-x">
      <div class="top-bar-left grid-x">
        <a href="/"><h3 class="columns small-1">QAFFLE</h3></a>
        <ul class = "menu" style = "margin-left:25px;background-color:rgb(224, 173, 104)">
          <li><a class = "button" style="background-color:rgb(224, 173, 104)" href="/my_qafs">QAFS</a></li>
          <li><a class = "button" style="background-color:rgb(224, 173, 104)" href="/shop">Shop</a></li>
          <li><a class = "button" style="background-color:rgb(224, 173, 104)" href="/create_qaf">Create QAF</a></li>
        </ul>
        <span class="columns small-11"></span>
      </div>
      <div class="top-bar-right small-2">
        {% if current_user is none %}
        <div class="button-group grid-x">
          <a class="button small-5" href="/login">Login</a>
          <div class="small-1"></div>
          <a class="button small-5"href="/signup">Sign Up</a>
        </div>
        {% else %}
          <ul class = "menu" style = "background-color:rgb(224, 173, 104);margin-left:60%">
            <li><a class="button small-5" href="/logout" >Logout</a></li>
          </ul>
        {% endif %}
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    {% block content %}
    {% endblock content %}
  </body>
</html>
