{% extends "base.html" %}
{% block content %}
<br>
<div class="grid-x">
  <h2 class="small-12">Create Your QAF</h2>
  <form class="form-group formBorder small-10 small-offset-1" method="post">
    <input class="textInput" name="name" type="text" placeholder='Name'>
    <br>
    <select class="textInput" name="mode">
      <option value="public">Public QAF</option>
      <option value="private">Private QAF</option>
    </select>
    <br>
    <input class="expanded button"type="submit" value="Submit">
  </form>
</div>
{% endblock content%}
