{% extends "base.html" %}

{% block content %}
<br>
<div class="grid-x">
  <h2 class="small-12">Start A Discussion</h2>
  <form class="form-group formBorder small-10 small-offset-1" method="post">
    <input class="textInput" name="title" type="text" placeholder='Title'>
    <br>
    <!-- <textarea id="content" name="content" rows="10" cols="100"></textarea> -->
    <input class="textInput" name="tags" type="text" placeholder='Tags'>
    <br>
    <textarea id="content" name="content" rows="10" cols="100"></textarea>
    <input class="expanded button" type="submit" value="Submit">
  </form>
</div>
{% endblock content %}
