{% extends "base.html" %}
{% block content %}
{% with messages = get_flashed_messages(with_categories = true) %}
      {% if messages %}
      <br>
          {% for category, message in messages %}
              <div class="callout alert">
                  {{message}}
              </div>
          {% endfor %}
      {% endif %}
  {% endwith %}
<div class="grid-x">
  <div class="formBorder small-12">
    <h3>Discover Your New QAF:</h3>
    <input class="textInput" type="text" id="qafsearch" name="search" placeholder="Search">
  </div>
  <br>
  <br>
  <br>
  <div class="small-4 small-offset-4 grid-x">
    <a class="expanded button row" href="/settings">Settings</a>
    <a class="expanded button row" href="/my_qafs">QAFS</a>
    <a class="expanded button row" href="/shop">Shop</a>
    <a class="expanded button row" href="/create_qaf">Create Qaf</a>
    <a class="expanded button row" href="/logout">Logout</a>
  </div>
</div>

<script type="text/javascript">

  console.log("yah yeet");
  document.getElementById('qafsearch').addEventListener('input', function functionName() {
    $.getJSON('/qafSearch', {input: document.getElementById('qafsearch').value,}, function(data) {
          console.log("yah yeet");
          console.log(data.result);
				  // $("#result").text(data.result);
				});
  });


</script>

{% endblock content%}
