{% extends "base.html" %}
{% block content %}
<div class="grid-x">
  <input type="text" id="qafsearch" name="search" value="Search">
  <a class="button" href="/logout">Logout</a>
  <a class="button" href="/settings">Settings</a>
  <a class="button" href="/qaf">QAF</a>
  <a class="button" href="/shop">Shop</a>
  <a class="button" href="/create_qaf">Create Qaf</a>
</div>

<br>

<ul>
  {%  for qaf in qaf_list %}
      <li>
          <a href="{{ url_for('show_qaf', id=qaf.id) }}">{{ qaf.name }}</a>
      </li>
  {%  endfor %}
</ul>

<script type="text/javascript">

  console.log("yah yeet");
  document.getElementById('qafsearch').addEventListener('input', function functionName() {
    var transaction = db.transaction([], "readonly")
    console.log("yah yeet");
  });


</script>

{% endblock content%}
