{% extends "base.html" %}
{% block content %}
  <body>
    <div class="top-bar grid-x">
      <div class="top-bar-left grid-x">
        <h3 class="columns small-1">QAFFLE</h3>
        <span class="columns small-11"></span>
      </div>
      <div class="top-bar-right small-2 ">
        {% if current_user is none %}
        <div class="button-group grid-x">
          <a class="button small-5"href="/login">Login</a>
          <div class="small-1"></div>
          <a class="button small-5"href="/signup">Sign Up</a>
        {% else %}
          Currently logged in as: {{ current_user.username }}
        {% endif %}
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  {% with messages = get_flashed_messages(with_categories = true) %}
      {% if messages %}
      <br>
          {% for category, message in messages %}
              <div class="callout alert">
                  {{message}}
              </div>
          {% endfor %}
      {% endif %}
  {% endwith %}
  <div class="grid-x">
    <h1 class="columns small-12">Welcome to QAFFLE</h1>
  </div>
  <br>
  <br>
  <div class="grid-x">
    <!-- <div class="row"> -->
      <!-- <div class="columns small-10 small-centered"> -->
        <img class="thumbnail columns small-8 small-centered" src="../static/images/crew.jpeg" alt="the squadfam">
      <!-- </div> -->
    <!-- </div> -->
  </div>
  <br>
  <br>
  <div class="grid-x">
    <h5 class="columns small-12">A new QAF for a new age...</h5>
  </div>
  <br>
  <br>
  <div class="grid-x">
    <p class="columns small-8 small-offset-2">The QAFFLE is the next generation solution to the old and bland QAF. Similar in premise, the QAFFLE allows users to create posts and comment at its most basic level. The frontend will be sleek and sexy. The backend will be snappy and robust. We will be implementing features not offered in the original QAF to enhance the user experience. Welcome to the new age. Welcome to QAFFLE.</p>
  </div>
  <br>
  <div class="grid-x">
    <div class="columns small-8 small-offset-2 ">
      <a class="expanded button" href="/login"><h5>Come join us...</h5></a>
    </div>
  </div>
  <br>
  <br>
  <br>
  </body>
{% endblock content%}
