{% extends "base.html" %}

{% block content %}

<div class="grid-x">
  <h2 class="small-12">{{ post.title }}</h2>
  <h5 class="small-12">Tags:
    {% for tag in post.tags %}
      <span class = "tag">{{ tag }}</span>
    {% endfor %}
  </h5>
  <h5 class="small-12">discussion prompted by <strong>{{author}}</strong></h5>
  <div class="small-12">
    <br>
  </div>
  <div class="post small-10 small-offset-1" style="word-wrap:break-word;">
    {{ post.content }} <div style="float:right;margin-right:50px">{{post.time_created}}</div>
  </div>
  <div class="small-12 grid-x">
    <form class="form-group small-10 small-offset-1" method="post">
      <div class="grid-x">
        <input class="textInput small-10" name="comment" type="text" placeholder='Click here to comment'>
        <input class="button small-2" type="submit" value="Submit">
      </div>
      <br>
    </form>
  </div>
  {% for comment in comments %}
  <div class="post small-10 small-offset-1">
    <div style="word-wrap: break-word;">"{{comment.content}}" - {{comment.author}} <div style="float:right;margin-right:50px">{{comment.time_created}}</div> </div>
  </div>
  <div class="small-12">
    <br>
  </div>
  {% endfor %}
</div>

{% endblock content %}
