{% extends "base.html" %}

{% block content %}

<br><br>
<h1>Change Settings</h1>
<br><br>
<div class="grid-x">
  <div class="formBorder small-8 small-offset-2">
    <form class="grid-x" action="/settings" method="POST">
          {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
        <br>
            {% for category, message in messages %}
                <div class="callout alert">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
      <br>
      <h5>Enter Your Previous Password:</h5>
      <input class="row" type="text" name="oldpass" value="">
      <br>
      <h5>Enter Your New Password:</h5>
      <input class="row" type="text" name="newpass" value="">
      <br>
      <h5>Confirm Your New Password:</h5>
      <input class="row" type="text" name="confirm" value="">
      <br>
      <br>
      <input class="row button expanded" type="submit" name="" value="Submit">
    </form>
  </div>
  <div class="small-offset-4 small-4">
    <a class="expanded button" href="/welcome">Back</a>
  </div>
</div>

{% endblock content %}
